user: 'user@googleAccounts.com'
pass:  'googleDrivePassword'
feedback: 'URL of Main folder'
week1: 'collection 1 ID'
week2: 'collection 2 ID'
week3: 'collection 3 ID'
week4: 'collection 4 ID'
week5: 'collection 5 ID'
week6: 'collection 6 ID'
week7: 'collection 7 ID'
week8: 'collection 8 ID'
